allure-python-commons==2.7.0
allure-robotframework==2.7.0
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
idna==2.8
importlib-metadata==0.18
mysql-connector-python==8.0.17
pluggy==0.12.0
protobuf==3.9.1
PyYAML==5.1.1
requests==2.22.0
robotframework==3.1.2
robotframework-pabot==0.73
robotframework-seleniumlibrary==3.3.1
robotframework-stringformat==0.1.8
robotremoteserver==1.1
selenium==3.141.0
six==1.12.0
urllib3==1.25.3
zipp==0.5.2
